.power{
    width:100%;
    text-align: center;
}
.power image{
    width:209px;
    height:209px;
}
.setPover{
    background: #3ac939;
    color:#fff;
    width: 75%;
    margin: 0 auto;
   height:40px;
   line-height:40px;
   border-radius: 5px;
   font-size: 18px;
}